BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 140

Language:  Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignEscapedNewlines: Left
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Right
BreakConstructorInitializers: AfterColon
IndentPPDirectives: BeforeHash
MaxEmptyLinesToKeep: 1
# PackConstructorInitializers: CurrentLine
# IncludeBlocks: Regroup
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
IndentExternBlock: Indent
KeepEmptyLinesAtTheStartOfBlocks: false
AlignConsecutiveDeclarations: true
StatementAttributeLikeMacros: []
BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: false
  AfterClass: true
  AfterFunction: true
  AfterEnum: false
  AfterStruct: false
  AfterUnion: true
  AfterCaseLabel: false
  AfterExternBlock: true
  AfterControlStatement: Never
  BeforeElse: false
  BeforeCatch: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true